{% extends "base.html" %} {% block content %}

<div
  class="d-flex align-items-center justify-content-center flex-column vh-100"
>
  <form
    class="standard-form p-3 mb-3 {% if invalid_credentials %}invalid-credentials{% endif %}"
    method="POST"
  >
    <h3 class="mb-3">Wookiees Bookstore</h3>
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Username (author pseudonym)"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password"
        placeholder="Password"
        minlength="10"
        required
      />
    </div>
    {% if invalid_credentials %}
    <p class="text-danger fs-14 fw-bold">Wrong username or password.</p>
    {% endif %}
    <button type="submit" class="btn btn-primary w-100 mb-3">Log in</button>
    <p class="fs-14">
      Don't have an account yet? <a href="/signup">Create one</a> or
      <a href="/api/overview">log in as guest*</a>.
    </p>
  </form>
  <p class="fs-11 white">
    * As a guest you'll be able to see the list of published books, but you
    won't be able to publish any.
  </p>
</div>

{% endblock %}
