{% extends "base.html" %} {% block content %}

<div class="d-flex align-items-center justify-content-center vh-100">
  <form class="standard-form p-3" method="POST">
    <h3 class="mb-3">Wookiees Bookstore</h3>
    {% csrf_token %}
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        name="username"
        placeholder="Author pseudonym"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password1"
        placeholder="Password*"
        minlength="10"
        required
      />
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        name="password2"
        placeholder="Confirm password"
        minlength="10"
        required
      />
    </div>
    {% if form.errors %} {% for field in form %} {% for error in field.errors %}
    <p class="text-danger fs-14 fw-bold">{{ error | escape }}</p>
    {% endfor %} {% endfor %} {% endif %}
    <button type="submit" class="btn btn-primary w-100 mb-3">
      Create account and log in
    </button>
    <p class="fs-14">Already have an account? <a href="/login">Log in</a></p>
    <p class="fs-11">
      * Must contain at least 1 letter, 1 number and 1 special character.
    </p>
  </form>
</div>

{% endblock %}
